<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Численные методы</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">II семестр</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/lab5'"> Лабораторная #5 </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/lab6'"> Лабораторная #6 </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/lab7'"> Лабораторная #7 </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/lab8'"> Лабораторная #8 </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


