<mat-card class="lab">
  <mat-card-title>Лабораторная 7</mat-card-title>
  <mat-card-content>
    <mat-card>
      <mat-card-title>Задание</mat-card-title>
      <mat-card-content>
        <div mathjax>
        \( \dfrac {{ '{ \\partial^2 u}' }} {{ '{ \\partial x^2}' }} +
          \dfrac {{ '{ \\partial^2 u}' }} {{ '{ \\partial y^2}' }} = 
          -2u, \)
        </div>

        <div mathjax>
          \( u(0,y) = cos(y), \)
        </div>

        <div mathjax>
          \( u( \dfrac {{ '{ \pi }' }} {{ '{ 2 }' }},y) = 0, \)
        </div>

        <div mathjax>
          \( u(x,0) = cos(x), \)
        </div>
        <div mathjax>
          \( u(x,\dfrac {{ '{ \pi }' }} {{ '{ 2 }' }}) = 0, \)
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title> Решение </mat-card-title>
      <mat-card-content>
        <label> N
          <input #n type="number" min="0" value="3" required>
        </label>
        <label> l
          <input #l type="number" min="0" value="1" required>
        </label>
        <label> eps
          <input #eps type="number" min="0.0" value="0.01" step="0.01" required>
        </label>
        <mat-form-field>
            <mat-label>Метод</mat-label>
                <mat-select [(value)]="method">
                <mat-option value="leibmann">Leibmann</mat-option>
                <mat-option value="seidel">Seidel</mat-option>
                </mat-select>
        </mat-form-field>
        <button (click)="solve(n.value, l.value, eps.value)"> Решить </button>

<!--         <div id="sigma">
          <div mathjax>
            \( \sigma = \)
          </div>
          <p style="padding-left: 5px">{{sigma}}</p>
        </div> -->

        <div id="plotNumerical"> </div>
        <div id="plotAnalytic"> </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>