<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Максимальный путь в графе</title>
   
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <link href="static/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
        <link href="static/style.css" rel="stylesheet" />

        <script src="static/fastclick.min.js"></script>
        <script src="static/lodash.min.js"></script>
        <script src="static/jquery.min.js"></script>
        <script src="static/bootstrap.min.js"></script>
        <script src="static/cola.v3.min.js"></script>
        <script src="static/jquery.qtip.min.js"></script>
        <script src="static/cytoscape-qtip.js"></script>
        <script src="static/cytoscape-cola.js"></script>
        <script src="static/lodash4.min.js"></script>
        <script src="static/jquery-1.10.2.js"></script>
        <script src="static/jquery.tap.js"></script>
        <script src="static/cytoscape.min.js"></script>
        <script src="static/cytoscape-edge.js"></script>


        <script src="code.js"></script>
    </head>
    <body>
        <div id="cy", class = "cytosc"></div>

        <span class="fa fa-bars config-toggle" id="config-toggle"></span>

            <div id="config" class="config">

            <div class="preamble">
                <span class="label label-info">Информационная панель</span>

                <p>Левая кнопка мыши на пустом поле создаёт вершину</p>
                <p>Чтобы добавить ребро, нужно провести его от красного кружка сверху от вершины</p>
                <p>Правая кнопка мыши по элементу удаляет его</p>
            </div>

            </div>
    </body>
</html>
